/* Cascading stylesheet for the website */

/* Text inside these asterisks and slashes are comments for human */

  a {
    color: blue;/* set the text color to blue here */
    text-decoration: none; /* This means we do not want hyperlinks to be underlined */
  }

  a:hover {
    color: #ffffff;/* set the text color to red here */
    text-decoration: none; /* This means we do not want hyperlinks to be underlined */
    transition: 0.70s;
  }
  .button {
    background-color: #ffffff;
    padding: 15px;
    margin: 10px;
    
  }
.button:hover {
  background-color: gray;
  border-radius: 20px;
  transition: 0.70s;
}
  body {
    /* set the background color here */
    /* set the text color to black here */
    font-family: Arial, Helvetica, sans-serif;/* set the font here */
    /* set the text alignment here */
    background-image: url("banner.jpg");
    color: black;
    text-align: center;
    border: 3px solid #ffffff;
   }

  footer {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .home {
    text-align: left;
    padding-left: 10px;
  }

  h1 {
    margin-bottom: 0.5rem;
    margin-top: 3rem;
   }

  h2 {
    /* set the text color of to #075AAB here */
    /* set both the bottom margin and top margin to 2.5rem here */
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    color: #075AAB;
   }

  h3 {
    margin-bottom: 0;
    margin-top: 2rem;
  }

  h4 {
    margin-bottom: 1rem;
    margin-top: 0.5rem;
  }

  h5 {
    margin-top: 0.5rem;
  }

  hr {
    margin-bottom: 3rem;
    margin-top: 3rem;
  }

  /* this controls how the bullet points in the resume page looks */
  ul {
    display: table;
    margin: 0 auto;
    text-align: left;
  }
  .pp {
    border-radius: 500px;
    border: 3px solid #000000;
  }
  .work img {
    width: 300px;
    height: 300px;
    border: 2px solid #ffffff;
    border-radius: 15px;
  }
  .work img:hover {
    transition: 0.70s;
    width: 550px;
    height: 550px;
  }
